|/* TAGS */
a {
color: #ED008C;
font-family: fantasy;
font-style: normal;
text-align: center;
}

div {
display: block;
text-align: center;
width: 25%;
}

/*CLASES*/
.diseño1 {
  background: #7f00b1;
  padding: 30px;
}

.diseño2 {
  background: #31a59a;
  padding: 30px;
}
